<div class="blok">
      <h4>Привет {{Name}}</h4>
      <a href="" (click)="gologin()">Выход</a>
  <div id="container"> 
    <div class="tabs"> 
    <input id="tab1" type="radio" name="tabs" checked> 
    <label for="tab1">Личное меню</label> 
    <input id="tab2" type="radio" name="tabs"> 
    <label for="tab2">Информация</label> 
    <input id="tab3" type="radio" name="tabs"> 
    <label for="tab3">Описание</label> 
    <input id="tab4" type="radio" name="tabs"> 
    <label for="tab4">Фото</label> 
    <section id="content1"> 
    <p>Описание</p> 
    </section>  
    <section id="content2"> 
    <p>Описание</p> 
    <p>Имя:</p> {{Name}}
    </section>  
    <section id="content3"> 
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Suscipit dolor nobis cum laboriosam fugiat. Veniam temporibus nobis cupiditate id itaque? Inventore aliquam iusto sequi quisquam ab eius animi provident molestiae a enim dolor, corrupti cupiditate expedita consequuntur dolore, omnis quia obcaecati natus minus esse dicta ipsum. Ad eum laboriosam dicta.
    </p> 
    </section>  
    <section id="content4"> 
    <p>Описание</p> 
    </section>  
    </div> 
    </div>
  </div>